<table class="center "  >
  <tr>
    <td class="background center large-font ">Please Login</td>
    <td></td>
    <td class="background center large-font ">New User</td>
  </tr>
  <tr valign="top" >
    <td width="350px" align="left" >
      <p style="margin-bottom: 10px;">
        Existing user please login to access your profile and make reviews.
      </p>

      <div style="border: 0px solid black; height: 40px;text-align: center;vertical-align: middle;margin-bottom: auto;margin-top: auto">
        <%= fb_login_and_redirect('/users/link_user_accounts', :text=>"Login with Facebook", :scope => 'email,offline_access', :v => '2') %>
      </div>
  <center>
    Or </center>
  <hr  >
  <% form_tag "/users/login", :secure=>true do %>
    <p>
      <label for="email" >Email Address</label>
      <%= text_field_tag :email, params[:email],:size=>25 %>
    </p>
    <p>
      <label for="password" >Password</label>
      <%= password_field_tag :password, params[:password],:size=>25 %>
    </p>
    <p>
      <%= submit_tag "Login",:class=>"button" %> <%= link_to "Forgot Password",forgot_path %>
    </p>

  <% end %>
</td>
<td>
  &nbsp;
</td>

<td width="450px" align="left" >
  <p>
    If this is the first time visiting our site, please create an account.
    By creating an account you'll enjoy adding events, rating events and comments on events.  Login using
    Facebook using the button on the left.  Or create a new account using the link below.
  </p>
  <hr>
  <p>
    <%= link_to "Create New Account", :controller=>"users",:action=>"new", :secure=>true %>
  </p>
</td>
</tr>
</table>
