<fieldset style="display:inline">

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :website,"Website:"%>
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label :promoter, "Promoter:" %>
    <%= f.text_field :promoter %>
  </p>
  <p>
    <%= f.label :start_date, "Date:" %>
    <%= f.text_field :start_date,:size=>11%>
  </p>
  <p>
    <%= f.label :end_date, "End Date:" %>
    <%= f.text_field :end_date,:size=>11%>
  </p>
  <p>
    <%= f.label :venue_location,"Location:" %>
    <%= f.text_field :venue_location %>
  </p>
    <p>
    <%= f.label :city,"City:" %>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state,"State:"%>
    <%= f.select :state, state_list,:index=>8 %>
  </p>
  <p>
    <%= f.label :event_type, "Event Type:"%>
    <%= f.select :event_type,event_type_list,{:prompt=>"Select Event Type"},{} %>
  </p>
  <p>
    
    <%= f.label :series, "Series?:" %>
    <%= f.check_box :series,{},'y','n' %> Is this event a series?
  </p>
  <p>

    <%= f.label :featured, "Featured?:" %>
    <%= f.check_box :featured, {},"y",'n' %> Is this event featured?

  </p>
  
  <!--p>
    <%= f.label :logo_path,"Logo Path:" %>
    <%= f.file_field :logo_path %>
  </p-->
   <p>
    <%= f.label :notes,"Notes:" %>
    <%= f.text_area :notes, :rows=>3,:cols=>40 %>
  </p>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
</fieldset>



<script type="text/javascript">
  options = {
    showOn: 'button',
    buttonImage: '/images/icons/calendar.png',
    buttonImageOnly: true,
    dateFormat: 'yy-mm-dd',
    defaultDate: null,
    constrainInput: true,
    minDate: new Date()

  }
  // datepicker start_date
  $jq(function() {
    $jq("#event_start_date").datepicker(options);
  });

  $jq(function() {
    $jq("#event_end_date").datepicker(options);
  });

</script>