<%= will_paginate @events %>
<table width="90%">
  <tr>
    <th>Race</th>
    <th>Type</th>
    <th>Date</th>
    <th>State</th>
    <th>Website</th>
  </tr>

  <%  @events.each do |event| %>
    <tr class="<%=cycle("white","gray") %>">
      <td class="title center"><%= link_to event.name, event_path(event)  %> </td>
      <td class="center"><%= event.event_type  %> </td>
      <td class="center"><%= event.start_date  %> </td>
      <td class="center"><%= event.state  %> </td>
      <td class="title"><%= link_to event.promoter ,event.website %> </td>
      <td class="center"><%= link_to "Edit" ,edit_event_path(event) %> </td>

  </tr>
<%end%>
</table>
<%= will_paginate @events %>