<%= will_paginate @events %>


<table width="100%" xcellspacing="0" border="0" style="margin:0px;padding:0px">
  <tr >
    <th width="40%"><%= search_sort_link("Race","name")%></th>
    <th width="15%"><%= search_sort_link("Type","event_type")%></th>
    <th width="15%"><%= search_sort_link("Date","start_date")%></th>
    <th width="10%"><%= search_sort_link("State","state")%></th>
    <th width="20%"><%= search_sort_link("Rating","avg_score")%></th>
  </tr>


  <% @events_by_month.each do |monthname, events| %>
    <tr>
      <td class="rounded" colspan="5" style="color:#ffffff;background-color: #333333;text-align: center" ><%=monthname%></td>
    </tr>
    <%  events.each do |event| %>
      <tr class="<%=cycle("white","gray") %>">
        <td class="title center"><%= link_to event.name, event_path(event)  %> </td>
        <td class="title center"><%= event.event_type  %> </td>
        <td class="title center"><%= event.start_date.strftime("%b %d")  %> </td>
        <td class="title center"><%= event.state  %> </td>
        <td class=""><div id="<%=event.id%>" avg="<%=event.avg_score.to_f %>"  class="star"></div></td>
      </tr>
    <%end%>
  <%end%>
</table>

<%= will_paginate @events %>

<script>


doRating()

</script>
  