<%= will_paginate @events %>
<table width="100%" cellspacing="0"  >
  <tr>
    <th>Race</th>
    <th>Type</th>
    <th>Date</th>
    <th>State</th>
    <th>Website</th>
  </tr>


  <% @events_by_month.each do |monthname, events| %>
    <tr>
      <td colspan="5" style="color:#ffffff;background-color: #333333;text-align: center" ><%=monthname%></td>
    </tr>
    <%  events.each do |event| %>
      <tr class="<%=cycle("white","gray") %>">
        <td class="title center"><%= link_to event.name, event_path(event)  %> </td>
        <td class="title center"><%= event.event_type  %> </td>
        <td class="title center"><%= event.start_date  %> </td>
        <td class="title center"><%= event.state  %> </td>
        <td class="title center"><%= link_to event.promoter? ? event.promoter: event.name ,event.website,:target=>"new" %> </td>
      </tr>
    <%end%>
  <%end%>
</table>
<%= will_paginate @events %>