
<%= link_to 'Back', events_path %>
<p>
  <b>Name:</b>
  <%=h @event.name %>
</p>

<p>
  <b>Website:</b>
  <%=h @event.website %>
</p>

<p>
  <b>Promoter:</b>
  <%=h @event.promoter %>
</p>

<p>
  <b>Start date:</b>
  <%=h @event.start_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @event.end_date %>
</p>

<p>
  <b>Location:</b>
  <%=h @event.location %>
</p>

<p>
  <b>State:</b>
  <%=h @event.state %>
</p>

<p>
  <b>Series:</b>
  <%=h @event.series %>
</p>

<p>
  <b>Type:</b>
  <%=h @event.type %>
</p>

<p>
  <b>Featured:</b>
  <%=h @event.featured %>
</p>

<p>
  <b>Logo path:</b>
  <%=h @event.logo_path %>
</p>
