<p>
  <b>Event:</b>
  <%=h @event_comment.event_id %>
</p>

<p>
  <b>User:</b>
  <%=h @event_comment.user_id %>
</p>

<p>
  <b>Comment:</b>
  <%=h @event_comment.comment %>
</p>


<%= link_to 'Edit', edit_event_comment_path(@event_comment) %> |
<%= link_to 'Back', event_comments_path %>