<div id="nav">
  <div id="controls">


    <% if !current_user_logged_in? %>
      <!-- <% form_tag login_path(:secure=>true)  do -%>
             <span class="white">Email:</span> <%= text_field_tag :email, '', :size=>"20"%>
             <span class="white">Password:</span>  <%= password_field_tag :password ,'', :size=>"10"%>
        <%= submit_tag "login", :class=>"button"%> -->
        <%= link_to "Login",login_path,:class=>"white" %>
        <%#= fb_login_and_redirect('/users/link_user_accounts', :text=>"Login with Facebook", :perms => 'email,user_birthday') %>
      <% end %>
  <%#= link_to "Register",new_user_path(),:class=>"white"%>
    <% else %>
      <span class="white title bold" >Welcome <%= current_user.first_name %>! | </span>
      <%= link_to "My Page", my_page_path,:class=>"white" %>  <span class="white">|</span>
      <% if is_admin? %>
        <%= link_to "Admin", admin_path,:class=>"white" %>  <span class="white">|</span>
      <%end%>
      <%= fb_logout_link("Logout", "/logout", :class=>"white") if current_facebook_user%>
      <%= link_to "Logout", "/logout",:class=>"white" unless current_facebook_user %>

    <%end%>
  </div>

</div>
<div id="header">
  <div id="header-img" >
    <%= link_to image_tag("header-logo.png",:alt=>"",:size=>"150x75"),"/" %>
  </div>

  <div id="header-text" >

    <div style="width: 550px;display: inline-block;">
      <%= link_to "HOME", "/",:xclass=>"white" %> |
      <%= link_to "ADD RACE", {:controller=>"events",:action=>"new"} ,:xclass=>"white" %>
    </div>

    <span style="text-align: right;">

      <%= link_to "CONTACT", {:controller=>"home",:action=>"contact_us"},{:xclass=>"white"}%> <span xclass="white">|</span>
      <%= link_to "ABOUT", {:controller=>"home",:action=>"about"},{:xclass=>"white"}%> <span xclass="white">|</span>
      <%= link_to "PROMOTERS", {:controller=>"home",:action=>"promote"} ,{:xclass=>"white"} %> <span xclass="white">|</span>
      <%= link_to "ADVERTISE", {:controller=>"home",:action=>"advertise"} ,{:xclass=>"white"} %>

      <%= link_to image_tag("facebook-icon-small.png",:size=>"24x24",:style=>"padding-left:10px;"),
        "https://www.facebook.com/pages/Find-My-Bike-Race/138642542858198",:target=>"new" %>
      <%= link_to image_tag("twitter.png",:size=>"24x24",:style=>"padding-left:5px;"),
        "https://twitter.com/findmybikerace",:target=>"new" %>
    </span>

  </div>

</div>