<head profile="https://gmpg.org/xfn/11"
      xmlns:addthis="https://www.addthis.com/help/api-spec">

  <title>Find My Bike Race  <%= "| #{@page_title}" unless @page_title.nil? %></title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta NAME="description" CONTENT="<%= @page_desc.gsub(/<\/?[^>]*>/, "") unless @page_desc.nil? %>"/>
  <meta NAME="keywords" CONTENT="<%=@page_keywords unless @page_keywords.nil?%>"/>

  <meta name="y_key" content=""/>

  <link rel='icon' href="/favicon.ico"/>
  <%= csrf_meta_tag %>
  <% fb_connect_async_js  do %> 
    <%=  yield :fb_connect%>
  <%end%>
  <%= javascript_include_tag 'prototype','effects','dragdrop','controls'%>

  <%= javascript_include_tag "jquery-1.5.1.min",'jquery-ui-1.8.13.custom.min','jquery.raty'%>
  <%= javascript_include_tag 'application' %>
  <!-- google ad manager -->
  <script type='text/javascript' src='https://partner.googleadservices.com/gampad/google_service.js'>
  </script>
  <script type='text/javascript'>
    GS_googleAddAdSenseService("ca-pub-3737415271814731");
    GS_googleEnableAllServices();
  </script>
  <script type='text/javascript'>
    GA_googleAddSlot("ca-pub-3737415271814731", "HomePageBottomLeader");
    GA_googleAddSlot("ca-pub-3737415271814731", "HomePage_Leader");
    GA_googleAddSlot("ca-pub-3737415271814731", "HomePage_Left_200x200");
    GA_googleAddSlot("ca-pub-3737415271814731", "HomePageLeft200x200_2");
    GA_googleAddSlot("ca-pub-3737415271814731", "HomePageLeft200x200_3");
    GA_googleAddSlot("ca-pub-3737415271814731", "HomePageLeft200x200_4");
    GA_googleAddSlot("ca-pub-3737415271814731", "HomePageRight180x150");
    GA_googleAddSlot("ca-pub-3737415271814731", "HomePageRight180x150_2");
    GA_googleAddSlot("ca-pub-3737415271814731", "HomePageRight180x150_3");
    GA_googleAddSlot("ca-pub-3737415271814731", "HomePageRight180x150_4");
  </script>
  <script type='text/javascript'>
    GA_googleFetchAds();
  </script>



  <%= stylesheet_link_tag 'style' %>
<%#= stylesheet_link_tag 'boxes' %>
<%#= stylesheet_link_tag 'lightbox' %>
  <%= stylesheet_link_tag 'jquery-ui-1.8.13.custom' %>

<%#= include_tiny_mce_if_needed %>

</head>