<head profile="https://gmpg.org/xfn/11"
      xmlns:addthis="https://www.addthis.com/help/api-spec">

  <title>Find My Bike Race  <%= "| #{@page_title}" unless @page_title.nil? %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta NAME="description" CONTENT="<%= @page_desc.gsub(/<\/?[^>]*>/, "") unless @page_desc.nil? %>"/>
  <meta NAME="keywords" CONTENT="<%=@page_keywords unless @page_keywords.nil?%>"/>
 
  <meta property="og:image" content="<%=image_path('crank-logo.png')%>"/> 
  <meta property="og:title" content="<%= @page_title  %>"/> 
  <meta property="og:url" content="<%= request.env['HTTP_HOST'] +request.env['REQUEST_URI']  %>"/> 
  <meta property="og:site_name" content="Find My Bike Race"/> 
  <meta property="fb:app_id" content="<%= Facebooker2.app_id %>"/>
  
  <meta name="msvalidate.01" content="15FFE477BBEFD1551ABEBE8500325455" />
  <link rel='icon' href="/favicon.ico"/>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag 'prototype','effects','dragdrop','controls'%>

  <%= javascript_include_tag "jquery-1.5.1.min",'jquery-ui-1.8.13.custom.min','jquery.raty'%>
  <%= javascript_include_tag 'application' %>
  <!-- google ad manager -->
  <script type='text/javascript' src='https://partner.googleadservices.com/gampad/google_service.js'>
  </script>
  <script type='text/javascript'>
    GS_googleAddAdSenseService("ca-pub-3737415271814731");
    GS_googleEnableAllServices();
  </script>
  <script type='text/javascript'>
    GA_googleAddSlot("ca-pub-3737415271814731", "HomePageBottomLeader");
    GA_googleAddSlot("ca-pub-3737415271814731", "HomePage_Leader");
    GA_googleAddSlot("ca-pub-3737415271814731", "HomePage_Left_200x200");
    GA_googleAddSlot("ca-pub-3737415271814731", "HomePageLeft200x200_2");
    GA_googleAddSlot("ca-pub-3737415271814731", "HomePageLeft200x200_3");
    GA_googleAddSlot("ca-pub-3737415271814731", "HomePageLeft200x200_4");
    GA_googleAddSlot("ca-pub-3737415271814731", "HomePageRight180x150");
    GA_googleAddSlot("ca-pub-3737415271814731", "HomePageRight180x150_2");
    GA_googleAddSlot("ca-pub-3737415271814731", "HomePageRight180x150_3");
    GA_googleAddSlot("ca-pub-3737415271814731", "HomePageRight180x150_4");
  </script>
  <script type='text/javascript'>
    GA_googleFetchAds();
  </script>



  <%= stylesheet_link_tag 'style' %>
<%#= stylesheet_link_tag 'boxes' %>
<%#= stylesheet_link_tag 'lightbox' %>
  <%= stylesheet_link_tag 'jquery-ui-1.8.13.custom' %>

<%#= include_tiny_mce_if_needed %>
<% if ! is_admin? and RAILS_ENV=='production' %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23485624-1']);
    _gaq.push(['_setDomainName', '.findmybikerace.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
<%end%>
</head>