<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
  <%= render '/layouts/head' %>

  <body xonload="initialize()">

    <div id="wrapper">
      <%= render 'layouts/header' %>


      <div id="content">


        <% [:error, :warning, :notice].each do |level|
          if flash[level] -%>
            <div class="flash <%= level.to_s -%>"><%= flash[level] -%></div>
          <% end -%>
        <% end -%>

        <div id="container3">
          <div id="container2">
            <div id="container1">
              <div id="col1">
                <div style="padding-bottom: 3px; text-align: center">
                  <span class="bold">Share</span>
                  <!-- AddThis Button BEGIN -->
                  <div style="margin-right:auto;margin-left:auto;" class="addthis_toolbox addthis_default_style addthis_32x32_style"
                       addthis:url="<%= request.env['REQUEST_URI']%>" addthis:title="<%= @event.nil? ? "Find My Bike Race" : @event.name  %>">
                    <a class="addthis_button_email"></a>
                    <a class="addthis_button_facebook"></a>
                    <a class="addthis_button_twitter"></a>
                  </div>
                  <!-- AddThis Button END -->
                </div>
                <div class="roundedcornr_box">
                  <div class="roundedcornr_top"><div></div></div>
                  <div class="roundedcornr_content">
                    <h3 class="rounded">Search Events</h3>
                    <% form_tag '/home/search' do %>
                      <p>
                        <%= label_tag "Event:" %><br/>
                        <%= text_field_tag "name","",:size=>15 %>
                      </p>

                      <p>

                        <%= label_tag "Dates Range" %><br/>
                        <%= text_field_tag "start_date",Time.now.strftime('%Y-%m-%d'),:size=>11,:maxsize=>10%><br/>
                        to <br/>
                        <%= text_field_tag "end_date",(Time.now + 1.month).strftime("%Y-%m-%d"),:size=>11,:maxsize=>10%>
                      </p>
                      <p>
                        <%= label_tag "State:" %><br/>
                        <%= select_tag "state",options_for_select(state_list)%>
                      </p>
                      <p>

                        <%= label_tag "Type:" %><br/>
                        <%= select_tag "event_type",options_for_select(event_type_list.sort)%>
                      </p>
                      <%= submit_tag 'find' %>
                    <%end%>
                  </div>
                  <div class="roundedcornr_bottom"><div></div></div>
                </div>

                <div id="ads">
                  <div class="ad">
                    <%= link_to image_tag('15hnbanlg.gif'), "http://www.hammernutrition.com/affiliates/146518",:class=>"ad" %>
                  </div>
                  <div class="ad">
                    <%= link_to image_tag('mtbcoach.jpg'),"http://mtbcoach.com",:class=>"ad" %>
                  </div>
                </div>
              </div>
              <div id="col2">

                <%= yield %>


              </div>
              <div id="col3">
                <div>
                  <%= link_to image_tag('FaceBooklogo.gif'),"http://facebook.com" %>
                </div>
                <div>
                  <%= link_to image_tag('follow_bird-a.png'),"http://twitter.com" %>
                </div>
                <div class="roundedcornr_box">
                  <div class="roundedcornr_top"><div></div></div>
                  <div class="roundedcornr_content">
                    <h3 class="rounded">About</h3>
                    <p>This site is built by racers for racers.  We were tired of having
                      not having all of our races in one place. Our goal is to have every single
                      race in the nation listed on this site. If you know of a race that
                      is not listed here, please <%= link_to "add one",new_event_path()  %>.
                      Your fellow racers will appreciate it.  <%=link_to "Read More...","/home/about"%></p>

                  </div>
                  <div class="roundedcornr_bottom"><div></div></div>
                </div>



                <div class="roundedcornr_box">
                  <div class="roundedcornr_top"><div></div></div>
                  <div class="roundedcornr_content">
                    <h3 class="rounded">Promote your race</h3>
                    <p>If you want to promote your race on your site
                      <%= link_to "contact us","/home/contact_us" %>. We can discuss options
                      to help increase your attendance. <%=link_to "Read More...", "/home/promote"%> </p>
                  </div>
                  <div class="roundedcornr_bottom"><div></div></div>
                </div>

                <div class="roundedcornr_box">
                  <div class="roundedcornr_top"><div></div></div>
                  <div class="roundedcornr_content">
                    <h3 class="rounded">Advertise</h3>
                    <p>info about advertising <%=link_to "Read More..." ,"/home/advertise"%></p>
                  </div>
                  <div class="roundedcornr_bottom"><div></div></div>
                </div>
                <div id="ads">

                </div>
              </div>
            </div>
          </div>
        </div>

        <script type="text/javascript">
          options = {
            showOn: 'button',
            buttonImage: '/images/icons/calendar.png',
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd',
            constrainInput: true,
            minDate: new Date()
          }
          // datepicker start_date
          $jq(function() {
            $jq("#start_date").datepicker(options);
          });

          $jq(function() {
            $jq("#end_date").datepicker(options);
          });

        </script>

      </div>
      <%= render '/layouts/footer' %>

    </div>

  </body>
</html>