<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
  <%= render '/layouts/head' %>

  <body>
    <%= fb_connect_async_js %>
    <div id="wrapper">
      <%= render 'layouts/header' %>


      <div id="content">


        <% [:error, :warning, :notice].each do |level|
          if flash[level] -%>
            <div class="flash <%= level.to_s -%>"><%= flash[level] -%></div>
          <% end -%>
        <% end -%>

        <div id="container3">
          <div id="container2">
            <div id="container1">
              <div id="col1">
                <div class="roundedcornr_box">


                  <h3 class="rounded">Search Events</h3>
                  <% form_remote_tag :update=>'result',:url=>{:controller=>:home,:action=>:search} do %>
                    <p>
                      <%= label_tag "Event" %><br/>
                      <%= text_field_tag  "search[name]","",:size=>25 %>
                    </p>

                    <p>

                      <%= label_tag "Date Range" %><br/>
                      <%= text_field_tag  "search[start_date]",Time.now.strftime('%Y-%m-%d'),:size=>11,:maxsize=>10 ,:id=>'start_date'%><br/>
                      to <br/>
                      <%= text_field_tag "search[end_date]",(Time.now + 3.month).strftime("%Y-%m-%d"),:size=>11,:maxsize=>10,:id=>'end_date'%>
                    </p>
                    <p>
                      <%= label_tag "State" %><br/>
                      <%= select_tag "search[state]",options_for_select(state_list)%>
                    </p>
                    <p>

                      <%= label_tag "Type" %><br/>
                      <%= select_tag "search[event_type]",options_for_select(event_type_list.insert(0,["All",""]))%>
                    </p>
                    <p>
                      <%= submit_tag 'find',:class=>"button" %>
                    </p>
                  <%end%>

                  

                </div>

                <div id="ads">
                  <div class="ad">
                    <!-- HomePage_Left_200x200 -->
                    <script type='text/javascript'>
                      GA_googleFillSlot("HomePage_Left_200x200");
                    </script>
                  </div>

                  <div class="ad">
                    <!-- HomePage_Left_234x60 -->
                    <script type='text/javascript'>
                      GA_googleFillSlot("HomePageLeft200x200_2");
                    </script>
                  </div>
                  <!--
                  <div class="ad">
                   
                    <script type='text/javascript'>
                      GA_googleFillSlot("HomePageLeft200x200_3");
                    </script>
                  </div>
                  <div class="ad">
                    
                    <script type='text/javascript'>
                      GA_googleFillSlot("HomePageLeft200x200_4");
                    </script>
                  </div> -->
                </div>
              </div>
              <div id="col2">

                <!--div class="ad"-->
                  <!-- HomePage_Leader -->
                  <!--script type='text/javascript'>
                    GA_googleFillSlot("HomePage_Leader");
                  </script-->
                <!--/div--> 
                <%= yield %>
                
                <div class="ad">
                  <!-- HomePage_Bottome_Leader -->
                  <script type='text/javascript'>
                    GA_googleFillSlot("HomePageBottomLeader");
                  </script>
                </div>
              </div>
              <div id="col3">

                <!--
                <div class="roundedcornr_box">
                  <div class="roundedcornr_top"><div></div></div>
                  <div class="roundedcornr_content">
                    <h3 class="rounded">About</h3>
                    <p>This site is built by racers for racers.  We were tired of having
                      not having all of our races in one place. Our goal is to have every single
                      race in the nation listed on this site. If you know of a race that
                      is not listed here, please <%= link_to "add one",new_event_path()  %>.
                      Your fellow racers will appreciate it.  <%=link_to "Read More...","/home/about"%></p>

                  </div>
                  <div class="roundedcornr_bottom"><div></div></div>
                </div>



                <div class="roundedcornr_box">
                  <div class="roundedcornr_top"><div></div></div>
                  <div class="roundedcornr_content">
                    <h3 class="rounded">Promote your race</h3>
                    <p>If you want to promote your race on your site
                <%= link_to "contact us","/home/contact_us" %>. We can discuss options
                      to help increase your attendance. <%=link_to "Read More...", "/home/promote"%> </p>
                  </div>
                  <div class="roundedcornr_bottom"><div></div></div>
                </div>

                <div class="roundedcornr_box">
                  <div class="roundedcornr_top"><div></div></div>
                  <div class="roundedcornr_content">
                    <h3 class="rounded">Advertise</h3>
                    <p>info about advertising <%=link_to "Read More..." ,"/home/advertise"%></p>
                  </div>
                  <div class="roundedcornr_bottom"><div></div></div>
                </div> -->
                <div id="ads">


                  <div class="ad">
                    <!-- HomePage_Left_234x60 -->
                    <script type='text/javascript'>
                      GA_googleFillSlot("HomePageRight180x150");
                    </script>
                  </div>
                  <div class="ad">

                    <script type='text/javascript'>
                      GA_googleFillSlot("HomePageRight180x150_2");
                    </script>
                  </div>
                  <!--
                  <div class="ad">
                    
                    <script type='text/javascript'>
                      GA_googleFillSlot("HomePageRight180x150_3");
                    </script>
                  </div>
                  <div class="ad">
                  
                    <script type='text/javascript'>
                      GA_googleFillSlot("HomePageRight180x150_4");
                    </script>
                  </div> -->


                </div>
                <fb:like-box href="https://www.facebook.com/pages/Find-My-Bike-Race/138642542858198" width="200" colorscheme="dark" show_faces="true" stream="false" header="false"></fb:like-box>

                <div id="twitter" style="padding-top:3px">
                  <a href="https://twitter.com/FindMyBikeRace" class="twitter-follow-button" data-button="grey" data-text-color="#FFFFFF" data-link-color="#00AEFF" data-show-count="true">Follow @FindMyBikeRace</a>
                  <script src="https://platform.twitter.com/widgets.js" type="text/javascript"></script>
                </div>
              </div>
            </div>
          </div>
        </div>

        <script type="text/javascript">
          options = {
            showOn: 'button',
            buttonImage: '/images/icons/calendar.png',
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd',
            constrainInput: true,
            minDate: new Date()
          }
          // datepicker start_date
          $jq(function() {
            $jq("#start_date").datepicker(options);
          });

          $jq(function() {
            $jq("#end_date").datepicker(options);
          });
          var addthis_share =
            {
            // ...
            templates: {
              twitter: '{{title}} {{url}} via @findmybikerace'
            }
          }

        </script>

      </div>
      <%= render '/layouts/footer' %>

    </div>

  </body>
</html>